<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand navbar-light bg-light">
  <a class="navbar-brand">Przepisnik</a>
  <ul class="nav nav-pills">
    <li><a  [routerLink]='[""]' class="nav-link">Home</a></li>
    <li><a  [routerLink]='["/about"]' class="nav-link">Dowiedz się więcej</a></li>
    <li><a  [routerLink]='["/recipes"]' class="nav-link">Lista przepisów</a></li>
    <li><a  [routerLink]='["/register"]' class="nav-link">Zarejestruj się</a></li>
    <li><a  class="nav-link">Zaloguj się</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

